<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>All.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>FxDSP Static.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>FxDSP.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3706641318232CDB00C716B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>373D9D3918233BCA004557B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>37678EB1183C53AF0049E87F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>37678F93183C80960049E87F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>37695FF91823289000EFA54F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>379105DD183C8AB900A89AD8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>379105ED183C8ABA00A89AD8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>37B8EC811AC7315300EBD2E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>37C031041ABB653400ABB47B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>37C031581ABB66A400ABB47B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>37C031791ABB7E0200ABB47B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>37D3CBC21AD4D67D001E598C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>37EAC0E61818AE2F00736C52</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>37EAC1891818B09A00736C52</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>37EB1E1918231CC9007E5BFE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>37F4E0751A3818DA00DE2BBE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>37F6646E1822EB770001A70F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
